In [1]:
import pandas as pd

In [2]:
!ls

appol_clean.csv		 cleaning_dataset_appol.ipynb
appol_clean.xlsx	 config.py
appol.csv		 table_products_clean.csv
Appol_Datos_Origen.xlsx  table_products_clean.xlsx
appol.py		 table_products.ipynb
appolVenv

In [6]:
data = 'Appol_Datos_Origen.xlsx'
path = '/home/alexis/Escritorio/alexis/appol/'

In [7]:
df_pandas = pd.read_excel(path+data)

In [8]:
df_pandas.head(20)

,Periodo,Tipo Producto,Region,Ingresos,Gastos,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Q1 2019,Accesorios,AGO - África/Angola,66319.703782,56708.152509,NaN,NaN,NaN,NaN,NaN
1,Q1 2019,Aplicaciones,AGO - África/Angola,122357.282946,77039.770744,NaN,NaN,NaN,NaN,NaN
2,Q1 2019,Celulares,AGO - África/Angola,265278.815126,215226.208498,NaN,NaN,NaN,NaN,NaN
3,Q1 2019,Musica,AGO - África/Angola,130447.020661,86964.680441,NaN,NaN,NaN,NaN,NaN
4,Q1 2019,PC,AGO - África/Angola,394602.237500,326567.368966,NaN,NaN,NaN,NaN,NaN
5,Q1 2019,Tablets,AGO - África/Angola,81152.131105,69217.994178,NaN,NaN,NaN,NaN,NaN
6,Q1 2019,TV,AGO - África/Angola,44777.558865,28193.277804,NaN,NaN,NaN,NaN,NaN
7,Q1 2019,Accesorios,ARG - América/Argentina,88128.954459,73914.606966,NaN,NaN,NaN,NaN,NaN
8,Q1 2019,Aplicaciones,ARG - América/Argentina,135405.128280,73857.342698,NaN,NaN,NaN,NaN,NaN
9,Q1 2019,Celulares,ARG - América/Argentina,464439.590000,417526.500101,NaN,NaN,NaN,NaN,NaN
10,Q1 2019,Musica,ARG - América/Argentina,232219.795000,146212.463519,NaN,NaN,NaN,NaN,NaN
11,Q1 2019,PC,ARG - América/Argentina,566389.743902,493775.674171,NaN,NaN,NaN,NaN,NaN
12,Q1 2019,Tablets,ARG - América/Argentina,152275.275410,131971.905355,NaN,NaN,NaN,NaN,NaN
13,Q1 2019,TV,ARG - América/Argentina,62932.193767,35570.370390,NaN,NaN,NaN,NaN,NaN
14,Q1 2019,Accesorios,AUS - Oceanía/Australia,54365.024528,39867.684654,NaN,NaN,NaN,NaN,NaN
15,Q1 2019,Aplicaciones,AUS - Oceanía/Australia,87845.923780,43124.362583,NaN,NaN,NaN,NaN,NaN
16,Q1 2019,Celulares,AUS - Oceanía/Australia,246268.914530,197809.547477,NaN,NaN,NaN,NaN,NaN
17,Q1 2019,Musica,AUS - Oceanía/Australia,114794.673307,65050.314874,NaN,NaN,NaN,NaN,NaN
18,Q1 2019,PC,AUS - Oceanía/Australia,313189.815217,252509.288519,NaN,NaN,NaN,NaN,NaN
19,Q1 2019,Tablets,AUS - Oceanía/Australia,92647.790997,70749.222216,NaN,NaN,NaN,NaN,NaN

In [9]:
df_pandas.drop(columns=['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'], inplace=True)

In [10]:
df_pandas.head(5)

   Periodo Tipo Producto               Region       Ingresos         Gastos
0  Q1 2019    Accesorios  AGO - África/Angola   66319.703782   56708.152509
1  Q1 2019  Aplicaciones  AGO - África/Angola  122357.282946   77039.770744
2  Q1 2019     Celulares  AGO - África/Angola  265278.815126  215226.208498
3  Q1 2019        Musica  AGO - África/Angola  130447.020661   86964.680441
4  Q1 2019            PC  AGO - África/Angola  394602.237500  326567.368966

In [8]:
#df_pandas.to_csv(path+'appol.csv')

In [11]:
#df_csv = pd.read_csv(path+'appol.csv')
df_pandas.head(5)

   Periodo Tipo Producto               Region       Ingresos         Gastos
0  Q1 2019    Accesorios  AGO - África/Angola   66319.703782   56708.152509
1  Q1 2019  Aplicaciones  AGO - África/Angola  122357.282946   77039.770744
2  Q1 2019     Celulares  AGO - África/Angola  265278.815126  215226.208498
3  Q1 2019        Musica  AGO - África/Angola  130447.020661   86964.680441
4  Q1 2019            PC  AGO - África/Angola  394602.237500  326567.368966

In [10]:
df_csv.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
#df_csv.head(5)

   Periodo Tipo Producto               Region       Ingresos         Gastos
0  Q1 2019    Accesorios  AGO - África/Angola   66319.703782   56708.152509
1  Q1 2019  Aplicaciones  AGO - África/Angola  122357.282946   77039.770744
2  Q1 2019     Celulares  AGO - África/Angola  265278.815126  215226.208498
3  Q1 2019        Musica  AGO - África/Angola  130447.020661   86964.680441
4  Q1 2019            PC  AGO - África/Angola  394602.237500  326567.368966

In [12]:
df_pandas.dtypes

Periodo           object
Tipo Producto     object
Region            object
Ingresos         float64
Gastos           float64
dtype: object

In [13]:
df_pandas['Ingresos'] = round(df_pandas['Ingresos'],2)
df_pandas['Gastos'] = round(df_pandas['Gastos'],2)

In [14]:
df_pandas

      Periodo Tipo Producto                       Region   Ingresos     Gastos
0     Q1 2019    Accesorios          AGO - África/Angola   66319.70   56708.15
1     Q1 2019  Aplicaciones          AGO - África/Angola  122357.28   77039.77
2     Q1 2019     Celulares          AGO - África/Angola  265278.82  215226.21
3     Q1 2019        Musica          AGO - África/Angola  130447.02   86964.68
4     Q1 2019            PC          AGO - África/Angola  394602.24  326567.37
...       ...           ...                          ...        ...        ...
4699  Q4 2021     Celulares  NZL - Oceanía/Nueva Zelanda   47516.94   41006.11
4700  Q4 2021        Musica  NZL - Oceanía/Nueva Zelanda   26290.63   15057.36
4701  Q4 2021            PC  NZL - Oceanía/Nueva Zelanda   99027.77   83854.98
4702  Q4 2021       Tablets  NZL - Oceanía/Nueva Zelanda   16346.89   13292.61
4703  Q4 2021            TV  NZL - Oceanía/Nueva Zelanda    6571.49    4343.31

[4704 rows x 5 columns]

In [15]:
cod_continents_countries = df_pandas["Region"].str.split('[-/]',expand=True) #Si al split ponemos [] adentro aceptara varios condiciones para separar
cod_continents_countries.columns = ['Cod_Pais', 'Continente','Pais']

df_pandas = pd.concat([df_pandas, cod_continents_countries], axis=1)
df_pandas

,Periodo,Tipo Producto,Region,Ingresos,Gastos,Cod_Pais,Continente,Pais
0,Q1 2019,Accesorios,AGO - África/Angola,66319.70,56708.15,AGO,África,Angola
1,Q1 2019,Aplicaciones,AGO - África/Angola,122357.28,77039.77,AGO,África,Angola
2,Q1 2019,Celulares,AGO - África/Angola,265278.82,215226.21,AGO,África,Angola
3,Q1 2019,Musica,AGO - África/Angola,130447.02,86964.68,AGO,África,Angola
4,Q1 2019,PC,AGO - África/Angola,394602.24,326567.37,AGO,África,Angola
...,...,...,...,...,...,...,...,...
4699,Q4 2021,Celulares,NZL - Oceanía/Nueva Zelanda,47516.94,41006.11,NZL,Oceanía,Nueva Zelanda
4700,Q4 2021,Musica,NZL - Oceanía/Nueva Zelanda,26290.63,15057.36,NZL,Oceanía,Nueva Zelanda
4701,Q4 2021,PC,NZL - Oceanía/Nueva Zelanda,99027.77,83854.98,NZL,Oceanía,Nueva Zelanda
4702,Q4 2021,Tablets,NZL - Oceanía/Nueva Zelanda,16346.89,13292.61,NZL,Oceanía,Nueva Zelanda
4703,Q4 2021,TV,NZL - Oceanía/Nueva Zelanda,6571.49,4343.31,NZL,Oceanía,Nueva Zelanda

In [16]:
df_pandas['Cod_Pais'] = df_pandas['Cod_Pais'].str.replace(" ","")
df_pandas['Continente'] = df_pandas['Continente'].str.replace(" ","")
df_pandas

,Periodo,Tipo Producto,Region,Ingresos,Gastos,Cod_Pais,Continente,Pais
0,Q1 2019,Accesorios,AGO - África/Angola,66319.70,56708.15,AGO,África,Angola
1,Q1 2019,Aplicaciones,AGO - África/Angola,122357.28,77039.77,AGO,África,Angola
2,Q1 2019,Celulares,AGO - África/Angola,265278.82,215226.21,AGO,África,Angola
3,Q1 2019,Musica,AGO - África/Angola,130447.02,86964.68,AGO,África,Angola
4,Q1 2019,PC,AGO - África/Angola,394602.24,326567.37,AGO,África,Angola
...,...,...,...,...,...,...,...,...
4699,Q4 2021,Celulares,NZL - Oceanía/Nueva Zelanda,47516.94,41006.11,NZL,Oceanía,Nueva Zelanda
4700,Q4 2021,Musica,NZL - Oceanía/Nueva Zelanda,26290.63,15057.36,NZL,Oceanía,Nueva Zelanda
4701,Q4 2021,PC,NZL - Oceanía/Nueva Zelanda,99027.77,83854.98,NZL,Oceanía,Nueva Zelanda
4702,Q4 2021,Tablets,NZL - Oceanía/Nueva Zelanda,16346.89,13292.61,NZL,Oceanía,Nueva Zelanda
4703,Q4 2021,TV,NZL - Oceanía/Nueva Zelanda,6571.49,4343.31,NZL,Oceanía,Nueva Zelanda

In [17]:
trimestre_year = df_pandas["Periodo"].str.split(expand=True) #Si al split ponemos [] adentro aceptara varios condiciones para separar
trimestre_year.columns = ['Trimestre', 'Anio']

df_pandas = pd.concat([df_pandas, trimestre_year], axis=1)
df_pandas

,Periodo,Tipo Producto,Region,Ingresos,Gastos,Cod_Pais,Continente,Pais,Trimestre,Anio
0,Q1 2019,Accesorios,AGO - África/Angola,66319.70,56708.15,AGO,África,Angola,Q1,2019
1,Q1 2019,Aplicaciones,AGO - África/Angola,122357.28,77039.77,AGO,África,Angola,Q1,2019
2,Q1 2019,Celulares,AGO - África/Angola,265278.82,215226.21,AGO,África,Angola,Q1,2019
3,Q1 2019,Musica,AGO - África/Angola,130447.02,86964.68,AGO,África,Angola,Q1,2019
4,Q1 2019,PC,AGO - África/Angola,394602.24,326567.37,AGO,África,Angola,Q1,2019
...,...,...,...,...,...,...,...,...,...,...
4699,Q4 2021,Celulares,NZL - Oceanía/Nueva Zelanda,47516.94,41006.11,NZL,Oceanía,Nueva Zelanda,Q4,2021
4700,Q4 2021,Musica,NZL - Oceanía/Nueva Zelanda,26290.63,15057.36,NZL,Oceanía,Nueva Zelanda,Q4,2021
4701,Q4 2021,PC,NZL - Oceanía/Nueva Zelanda,99027.77,83854.98,NZL,Oceanía,Nueva Zelanda,Q4,2021
4702,Q4 2021,Tablets,NZL - Oceanía/Nueva Zelanda,16346.89,13292.61,NZL,Oceanía,Nueva Zelanda,Q4,2021
4703,Q4 2021,TV,NZL - Oceanía/Nueva Zelanda,6571.49,4343.31,NZL,Oceanía,Nueva Zelanda,Q4,2021

In [18]:
df_pandas.drop(columns=['Region'], inplace=True)
df_pandas.drop(columns=['Periodo'], inplace=True)

In [19]:
df_pandas['Trimestre'] = df_pandas['Trimestre'].str.replace('Q','T')
df_pandas

,Tipo Producto,Ingresos,Gastos,Cod_Pais,Continente,Pais,Trimestre,Anio
0,Accesorios,66319.70,56708.15,AGO,África,Angola,T1,2019
1,Aplicaciones,122357.28,77039.77,AGO,África,Angola,T1,2019
2,Celulares,265278.82,215226.21,AGO,África,Angola,T1,2019
3,Musica,130447.02,86964.68,AGO,África,Angola,T1,2019
4,PC,394602.24,326567.37,AGO,África,Angola,T1,2019
...,...,...,...,...,...,...,...,...
4699,Celulares,47516.94,41006.11,NZL,Oceanía,Nueva Zelanda,T4,2021
4700,Musica,26290.63,15057.36,NZL,Oceanía,Nueva Zelanda,T4,2021
4701,PC,99027.77,83854.98,NZL,Oceanía,Nueva Zelanda,T4,2021
4702,Tablets,16346.89,13292.61,NZL,Oceanía,Nueva Zelanda,T4,2021
4703,TV,6571.49,4343.31,NZL,Oceanía,Nueva Zelanda,T4,2021

In [20]:
df_pandas['Trimestre'].unique().tolist() #Para obtener datos como un Distinct
df_pandas['Anio'].unique().tolist() #Para obtener datos como un Distinct
df_pandas['Tipo Producto'].unique().tolist() #Para obtener datos como un Distinct

['Accesorios', 'Aplicaciones', 'Celulares', 'Musica', 'PC', 'Tablets', 'TV']

In [21]:
df_pandas.rename(columns={'Tipo Producto':'Tipo_Producto'},inplace=True)
df_pandas

,Tipo_Producto,Ingresos,Gastos,Cod_Pais,Continente,Pais,Trimestre,Anio
0,Accesorios,66319.70,56708.15,AGO,África,Angola,T1,2019
1,Aplicaciones,122357.28,77039.77,AGO,África,Angola,T1,2019
2,Celulares,265278.82,215226.21,AGO,África,Angola,T1,2019
3,Musica,130447.02,86964.68,AGO,África,Angola,T1,2019
4,PC,394602.24,326567.37,AGO,África,Angola,T1,2019
...,...,...,...,...,...,...,...,...
4699,Celulares,47516.94,41006.11,NZL,Oceanía,Nueva Zelanda,T4,2021
4700,Musica,26290.63,15057.36,NZL,Oceanía,Nueva Zelanda,T4,2021
4701,PC,99027.77,83854.98,NZL,Oceanía,Nueva Zelanda,T4,2021
4702,Tablets,16346.89,13292.61,NZL,Oceanía,Nueva Zelanda,T4,2021
4703,TV,6571.49,4343.31,NZL,Oceanía,Nueva Zelanda,T4,2021

In [22]:
df_pandas.to_csv(path+'appol_clean_final.csv',index=False)

In [23]:
df_pandas.to_excel(path+'appol_clean_final.xlsx',index=False)